*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, sans-serif;
}
.header{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    background-color: #0f172a;
    padding: 20px;
}
.logo{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.cv{
    margin-left: 15px;
    margin-top: -3px;
}
.btn{
    padding: 5px;
    border-radius: 5px;
    margin-top: -25px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.a{
    text-decoration: none;
    color: white;
}
.a:hover{
    background: white;
    color: #0f172a;
    padding: 5px;
    border-radius: 5px;
}
.milieu{
    display: flex;
    padding: 30px;
    margin: 20px;
    gap: 270px;
}
.ecrit{
    margin-top: 150px;
}
.bouton , .boutons{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;

}
.boutons{
    background-color: #2563eb;
    color: white;
}
.bouton{
    background-color: #14b8a6;
    color: white;
}
.costard{
    width: 250px;
}
.centre{
    display: flex;
    padding: 20px;
    margin: 100px;
    gap: 40px;
}
.moi{
    width: 250px;
}
.apropos{
    width: 700px;
    height: 150px;
    background-color:white;
    padding:15px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}
.competences{
    padding: 25px;
}
.comp{
    display: flex;
    gap: 30px;
}
.boite{
box-shadow: 0 4px 20px rgba(0,0,0,0.2);
padding: 50px;
border-radius: 10px;
transition: 0.9s;
background-color: #ccfbf1;

}
.boite:hover{
  transform: translateY(-5px);  
}
.realisation{
    padding: 20px;
}
.projet{
    display: flex;
    gap: 20px;
}
.projetrecent{
box-shadow: 0 4px 20px rgba(0,0,0,0.2);
padding: 50px;
border-radius: 10px;  
}
section{
    padding: 25px;
}
form{
box-shadow: 0 4px 20px rgba(0,0,0,0.2);
padding: 50px;
border-radius: 10px; 
width: 1100px;  
height: 300px;
}
input {
    width: 480px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
}
textarea{
    height: 210px;
    width:1050px;
}
.submit{
    width: 120px;
    padding: 4px;
    border-radius: 20px;
    border: 1px solid black;
}
.submit:hover{
    background-color: #14b8a6;
    color: #0f172a;
}
.btnprjt{
    color: #0f172a;
    text-decoration: none;
    background-color: #14b8a6;
    padding: 5px;
    border-radius: 4px;
}
.btnn{
    padding: 5px;
    border-radius: 4px;
    background-color: #14b8a6;
    border: 1px solid gray;
}
.menu{
    display: none;
}

@media (max-width:420px) {
    .header{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    body{
        background-color: #80808033;
    }
    .menu{
        display: none;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .milieu{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 290px;
    }
    .costard{
        width: 170px;
        display: block;
        margin: auto;
    }
    .ecrit{
        margin-top: -250px;
        text-align: center;
    }
    h1{
        font-size: 25px;
    }
    span{
        color: #14b8a6;
    }
    .centre{
        display: flex;
        flex-direction: column-reverse;
        padding:10;
        margin: 15px;
    }
    .apropos{
        width: 250px;
        height: 100px;
        padding: 25px;
        text-align: center;
        margin: auto;
    }
    .moi{
         display: block;
        margin: auto;
        width: 200px;
    }
    .competences{
        text-align: center;
        border-radius: 20px;
        width: 280px;
        margin: auto;
        box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    }
    #competences{
        justify-content: center;
    }
    .comp{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .boite{
        width: 80px;
        margin: auto;
        padding: 15px;
        font-size: 13px;
        gap: 10px;
    }
    .realisation{
        margin-left: 20px;
    }
    h4{
        text-align: center;
    }
    .projet{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .projetrecent{
        text-align: center;
        transition: 0.6s;
        padding: 25px;
        width: 250px;
        margin:auto;
        box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    }
    .projetrecent:hover{
         transform: translateY(-5px); 
    }
section{
    padding: 0px;
    margin: 20px;
}
form{
    display: block;
    margin: auto;
    width: 240px;
    height: 350px;
}
input{
    width: 260px;
    display: block;
    margin: auto;
}
textarea{
    width: 260px;
}
.submit{
    margin-left: 70px;
}

footer{
    background-color: #0f172a;
    padding: 25px;
    color: white;
}
.bouton{
    margin-left: 15px;
}

html{
    scroll-behavior: smooth;
}
}