body{
    margin: 0;
    padding: 0;
    background-color:#030712;
    color:#e2e8f0;
}
a{ 
    text-decoration: none;
    color:black;
}
.centre{
    margin: 120px;
}
.U{
    font-size: 39px;
    color: darkslategray;
    margin-top: -18px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    animation: typing 6s steps(29) forwards;
}
.S{
    margin-top: -35px;
}
.A{
    margin-top: -18px;
}
.M{
    margin-top: -18px;
}
.B{
    margin-top: -18px;
}
.andy{
    display: flex;
}
img{
    margin: 100px;
    padding: 10px;
    height: 250px;
    border-radius: 19999px;
}
span{
    color: green;
    font-size: 30px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button{
    display: inline-block;
    padding: 5px 25px;
    width: 120px;
    text-align: center;

}
.button:hover{
    color: #ffffff;
}
button{
    border-radius: 15px;
    height:40px ;
    width: 190px;
  
}
button:hover{
    background-color: gray;
}


@keyframes typing{
    from{
        max-width: 0;
    }
    to{
        max-width: 100%;
    }
}


@media screen and (max-width: 495px){
body{
background-color: #030712;
color: white;
margin: 10px;
padding: 10px;
}
.andy{
    display: flex;
    flex-direction: column-reverse;
}
img{
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
.centre{
    margin:0;
}

.U{
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 5px;
    color: darkslategrey;
    overflow: hidden;
    display: inline-block;
    white-space:nowrap;
    animation: typing 6s steps(29) forwards;
}
.id{
    margin-left: 50px;
    margin-top: 20px;
}

.S,.A,.M,.B{
margin-top: 0;
margin-bottom: 5px;
}

a{
text-decoration: none;
color: black;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
    display: inline-block;
    padding: 2px 12px;
    width:120px ;
    text-align: center;
}
button{
    border-radius: 15px;
    height: 30px;
    width: 140px;
}
button:hover{
    background-color: gray;
}
.button:hover{
color: #ffffff;
}
@keyframes typing{
    from{
        max-width: 0;
    }
    to{
        max-width: 100%;
    }
}

}
.id{
    justify-content: center;
}